@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove qualquer margem/padding global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove fundo branco do body */
body, html {
  width: 100%;
  height: 100%;
  background: #000 !important;
}
